{% extends "base.html" %}
{% load i18n %}
{% block content %}
					<br>
					<p>
					<span style="color: rgb(0, 0, 0); ">
						<span style="font-size: 14px">
							From 1991 series of bulletins of the Kyiv’s university of 
							"Mathematician and mechanic", "Physics", "Simulation and optimization of the 
							complex systems" has been reorganized in "Bulletin of National Taras Shevchenko 
							University of Kyiv. Series: physics and mathematics".							
						</span>
					</span>
					</p>
					<p>
					<span style="color: rgb(0, 0, 0); ">
						<span style="font-size: 14px">
							The bulletin represents the results of new researches in different 
							branches of mathematics, informatics, mechanics, physicists and 
							radio physics for research workers, teachers, graduate students, 
							engineers and students. Bulletin is printed after recommendations of 
							Academic Council of faculties of Physics, Radiophysics, Mechanics and Mathematics.
						</span>
					</span>
					</p>
					<p>
					<span style="color: rgb(0, 0, 0); ">
						<span style="font-size: 14px">
							Magazine "Bulletin of National Taras Shevchenko University of Kyiv. 
							Series: physics and mathematics" is included to the list of professional 
							editions VAK of Ukraine.
						</span>
					</span>
					</p>

					<div>&nbsp;</div>
{% endblock %}