{% extends "edition_root.html" %}
{% load i18n %}
{% block content %}
	<br>
	<p>		
		<strong style="font-size: 14px; color: rgb(0, 0, 0);">
			<b>{% trans "Editorial Stuff"%}:</b>		
		</strong>
	</p>

	<ul style="margin-left: 40px;">
		<li>
			<span style="color: rgb(0, 0, 0); font-size: 14px;">
			</span>
		 </li>
	 </ul>

	 <p>		
		<strong style="font-size: 14px; color: rgb(0, 0, 0);">
			<b>{% trans "Editorial sector"%}:</b>		
		</strong>
	</p>
	<ul style="margin-left: 40px;">
		<li>
			<span style="color: rgb(0, 0, 0); font-size: 14px;">
			</span>
		 </li>

	 </ul>
	
{% endblock %}